<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Geo camping</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
            <nav class="navbar navbar-light" >
                <div class="container-fluid">
                 <span class="navbar-brand">Geocamping</span>
               </div>
             </nav>

          <div class="image-container">
            <img class="center-block" src="https://cdn.pixabay.com/photo/2021/07/01/10/54/tihany-6379065_960_720.jpg" alt="Here should be a nice image" width=66.66% height="200"/>
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>
