{% load leaflet_tags %}
<html>
  <head>
    {% leaflet_js %} {% leaflet_css %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <style>
      #campmap {
        height: 530px;
        width: 700px;
      }
    </style>
  </head>

  <body>
    {% leaflet_map "campmap" callback="window.map_init" %}
    <script type="text/javascript">
      // declare tile layers
      var OpenTopoMap = L.tileLayer(
        "https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png",
        {
          maxZoom: 17,
          attribution:
            'Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)',
        }
      );

      var OpenStreetMap = L.tileLayer(
        "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
        {
          maxZoom: 19,
          attribution:
            '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        }
      );

      // naming the tile layers
      var baseMaps = {
        "OpenTopo": OpenTopoMap,
        "OSM": OpenStreetMap,
      };

      function map_init(map, options) {
        var zones = L.geoJson();
        var bungalows = L.layerGroup();
        var slots = L.layerGroup();

        map.addLayer(zones);

        var zonesurl = '{% url "zonesjson" %}';
        $.getJSON(zonesurl, function (zonesData) {
          zones.addData(zonesData);
        });

        var bungalowsurl = '{% url "bungalowsjson" %}';
        $.getJSON(bungalowsurl, function (bungalowsData) {
          console.log(bungalowsData)
          L.geoJson(bungalowsData, { onEachFeature: onEachFeature }).addTo(
            bungalows
          );
        });

        var slotsurl = '{% url "slotsjson" %}';
        $.getJSON(slotsurl, function (slotsData) {
          L.geoJson(slotsData, { onEachFeature: onEachFeature }).addTo(
            slots
          );
        });
        var overlays = {
          "Zones": zones,
          "Bungalows": bungalows,
          "Slots": slots
        };
        var hydMarker = new L.Marker([46.94613, 17.87778]);
        var layerGroup = L.layerGroup([hydMarker]);
        layerGroup.addTo(map);
        L.control.layers(baseMaps, overlays).addTo(map);
      }

      function onEachFeature(feature, layer) {
        if (feature.properties && feature.properties.name) {
          layer.bindPopup(feature.properties.name);
        }
      }

    </script>
  </body>
</html>
