{% extends 'base.html' %}
{% load leaflet_tags %}
{% load static %}


{% block head %}
  {% leaflet_js %} 
  {% leaflet_css %}
{% endblock %}
{% block body %}
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div>
    <div class="col-sm-8 text-left"> 
      <h1>Welcome on Geocamping</h1>
      <p>On this site you can get more information about our camping.</p>
      <hr>
      {% leaflet_map "campmap" callback="window.map_init" %}
    </div>
    <div class="col-sm-2 sidenav">
      <div class="btn-group">
        <button type="button" id="cottages" class="btn btn-success">Cottages</button>
        <button type="button" id="bungalows" class="btn btn-primary">Bungalows</button>
        <button type="button" id="slots" class="btn btn-danger">Tent slots</button>
      </div>      
    </div>
  </div>
</div>


{% leaflet_map "campmap" callback="window.map_init" %}
<script type="text/javascript">
  // declare tile layers

  var OpenStreetMap = L.tileLayer(
    "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
    {
      maxZoom: 19,
      attribution:
        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
    }
  );

  // naming the tile layers
  var baseMaps = {
    //"OpenTopo": OpenTopoMap,
    //"OSM": OpenStreetMap,
  };

  function map_init(map, options) {

    map.addLayer(OpenStreetMap)

    var center_marker = L.layerGroup();
    L.marker([46.94613, 17.87778]).addTo(center_marker)
    var zones = L.layerGroup();
    var bungalows = L.layerGroup();
    var cottages = L.layerGroup();
    var facilities = L.layerGroup();
    var services = L.layerGroup(); 
    var slots = L.layerGroup();

    var zonesurl = '{% url "zone-list" %}';
    $.getJSON(zonesurl, function (zonesData) {
      L.geoJson(zonesData, {style:style, onEachFeature: onEachFeature }).addTo(
        zones
      );
    });

    var bungalowsurl = '{% url "bungalow-list" %}';
    $.getJSON(bungalowsurl, function (bungalowsData) {
      console.log(bungalowsData)
      L.geoJson(bungalowsData, {style:style, onEachFeature: onEachRentable }).addTo(
        bungalows
      );
    });

    var cottagesurl = '{% url "cottage-list" %}';
    $.getJSON(cottagesurl, function (cottagesData) {
      L.geoJson(cottagesData, {style:style, onEachFeature: onEachRentable }).addTo(
        cottages
      );
    });

    var facilitiesurl = '{% url "facility-list" %}';
    $.getJSON(facilitiesurl, function (facilitiesData) {
      L.geoJson(facilitiesData, {style:style, onEachFeature: onEachFeature }).addTo(
        facilities
      ).addTo(map);
    });

    var servicesurl = '{% url "service-list" %}';
    $.getJSON(servicesurl, function (servicesData) {
      L.geoJson(servicesData, {style:style, onEachFeature: onEachFeature }).addTo(
        services
      );
    });

    var slotsurl = '{% url "slot-list" %}';
    $.getJSON(slotsurl, function (slotsData) {
      L.geoJson(slotsData, {style:style, onEachFeature: onEachRentable }).addTo(
        slots
      );
    });

    var overlays = {
      "Zones": zones,
      "Services" : services,
    };

    L.control.layers(baseMaps, overlays, {position: 'bottomright'}).addTo(map)


  $("#cottages").click(function() {
        map.addLayer(cottages)
        map.removeLayer(bungalows)
        map.removeLayer(slots)
  });

  $("#bungalows").click(function() {
        map.addLayer(bungalows)
        map.removeLayer(cottages)
        map.removeLayer(slots)
    });

  $("#slots").click(function() {
        map.addLayer(slots)
        map.removeLayer(cottages)
        map.removeLayer(bungalows)
  });

  var info = L.control();

  info.onAdd = function (map) {
      this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
      this.update();
      return this._div;
  };

  // method that we will use to update the control based on feature properties passed
  info.update = function (props) {
      this._div.innerHTML = '<h4>Info</h4>' +  (props ?
          '<b>' + "Name: " + props.name + '</b><br />'
          + "Area: " + props.area + ' m<sup>2</sup><br />'
          + "Price: " +props.price +'€/m<sup>2</sup><br /><br />'
          + (props.is_available ? "Available" : "Not Available")
          : 'Hover over a property');
  };

  info.addTo(map);

  function onEachRentable(feature, layer) {
    const  {name, area, is_available, price} = feature.properties;
    if (feature.properties && feature.properties.name) {
      layer.bindPopup(feature.properties.name);
    }
    layer.on('mouseover', function(){
      layer.setStyle({ fillOpacity: 0.3})
      info.update({name, area: area.toFixed(2), is_available, price});
    })
    layer.on('mouseout', function(){
      layer.setStyle({fillOpacity: 0})
      info.update();
    });

  }

  map.on('zoomend', function() {
    if (map.getZoom() < 12){
            map.addLayer(center_marker)
    }
    else {
            map.removeLayer(center_marker)
        }
  });

  }

  function style(feature) {
    var props = feature.properties.name.split(' ');

    var len = props.length
    if(props[1] === 'zone') return {color: 'grey', fillOpacity: 0} 
    if(len === 2){
      if(props[0] === "Tent" || props[0] === "Bungalow" || props[0] === "Cottage") return {color: getColor(feature.properties.is_available), fillOpacity: 0}
    }
    return {color: "#ff7800", weight: 5, fillOpacity: 1.0};
}

function getColor(available) {
  return available ? 'green' : 'red'

}

  function onEachFeature(feature, layer) {
    if (feature.properties && feature.properties.name) {
      layer.bindPopup(feature.properties.name);
    }
  }

</script>
{% endblock %}
